table {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

table tr td {
   width: 10px;
   height: 10px;
   background: white;
}

.live {
   background: red;
}

#button {
   background: #bbbbbb;
   border-top: 2px solid #dddddd;
   border-left: 2px solid #dddddd;
   border-right: 2px solid #888888;
   border-bottom: 2px solid #888888;
   font-family: sans-serif;
   color: black;
   width: 75px;
   line-height: 32px;
   height: 32px;
   text-align: center;
}

#button.clicked {
   border-top: 2px solid #888888;
   border-left: 2px solid #888888;
   border-right: 2px solid #dddddd;
   border-bottom: 2px solid #dddddd;
}